body{
  background-color: rgb(248, 248, 248);
  margin: 0%;
  align-items: center;
}
nav
{
  align-items: center;
  margin:0;
  height: auto;
	max-height: 100px;
  padding:10px;
  display:flex;
  flex-direction: row;
  column-gap: 17%;
	background-color: rgb(255, 255, 255);
	color: black;
}
nav .logo
{
  font-family: 'Dancing Script', cursive;
  align-items: center;
  margin-left: 100px;
	width: 10%;
	color: black;
  font-weight:bolder;
  font-size: 26px;
}
nav .elements
{
  display:flex;
  align-items: center;
  flex-direction: row;
  column-gap: 40px;
}
nav .elements .item
{
  display: block;
  align-items: center;
  font-size: 16px;
  font-weight:700px;
  cursor: pointer;
  padding: 7px;
}
nav .elements .item:hover
{
   background: rgb(252, 251, 251);
   border-radius: 20px;
}
nav .dropdown {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.dropdown.toggle > input {
  display: none;
}
.dropdown > a, .dropdown.toggle > label {
  border-radius: 20px;
}
.dropdown > a::after, .dropdown.toggle > label::after {
  content: "";
  float: right;
  margin: 14px 25px 0 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(0, 0, 0);
}
.dropdown ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
  overflow: hidden;
}
.dropdown a, .dropdown.toggle > label {
  display: block;
  padding: 0 0 0 10px;
  text-decoration: none;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  background-color: #FFF;
}
.dropdown li {
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}
.dropdown.hover li {
  transition-delay: 300ms;
}
.dropdown li:first-child a {
  border-radius: 20px 20px 0 0;
}
.dropdown li:last-child a {
  border-radius: 0 0 20px 20px;
}
.dropdown li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  margin: -10px 0 0 30px;
}
 .dropdown.toggle > .dropdown.toggle > input:checked ~ label {
  background-color: rgb(153, 136, 136);
  color: #666;
}
.dropdown > a:hover::after, .dropdown.toggle > .dropdown.toggle > input:checked ~ label::after {
  border-top-color:  #AAA;
}
.dropdown li:first-child a:hover::before {
  border-bottom-color: #EEE;
}
.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {          
  height: 40px;
}
.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
  padding-top: 15px;
}
.card {
  display: block;
  margin:1% 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  width: 30%;
  min-height: 20%;
  text-align: center;
  font-family: arial;
  padding: 40px;
}
.card img
{
  width:50%;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 900;
  background-color: rgb(28, 96, 141);
}

.modify
{
  position:absolute;
  top:15%;
  left:65%;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}
.pass
{
  position:absolute;
  top:85%;
  left:36%;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}
.edit
{
  display:flex;
  flex-direction: row;
}
.edit input{
  font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: auto; box-sizing: border-box; letter-spacing: 1px;
}
.col-3{float: left; width: 100%; margin: 5px 3%; position: relative;}
label{ font-weight:bolder;letter-spacing: 0.5px;}
.btn
{
  margin-left:38%;
  border: 2px solid  #7655d1;
  background-color: white;
	border-radius: 40px;
	color: #7655d1;
	display: block;
	font: 18px;
  font-weight: 700;
	height: 40px;
	width: 94px;
}
.btn:hover{
    border:none;
    color:white;
    background-color: #3399FF;
    transition: 0.4s;
}