<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <nav>
        <div class="logo">
           
            Demo page
        </div>
        <div class="elements">
            <div class="item">
                <i class="fas fa-home"></i>
                Home
            </div>
            <div class="item">
                <i class="fas fa-info-circle"></i>
                About
            </div>
            <div class="item">
                <i class="fas fa-wifi"></i>
                Contact
            </div>
            <div class="item">
                <i class="fas fa-bell"></i>
                Notifications
            </div>
        </div>
        <div class="dropdown hover">
            <a href="#"><i class="fas fa-user"></i> {{session['firstname']}}</a>
            <ul>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
    </nav>
    {% block content %}

	{% endblock %}
</body>
</html>