<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <style>
        .col-3
        {
            margin:15px;
        }

    </style>
</head>
<body >
    <div class="world"   style=" margin-left: 230px; margin-top: 20px;">
    <div class="loginbox" style="padding: 5px 40px;">
    <h1>Sign Up</h1 >
    <div class="flash">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message | safe}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
        <div>
        <h3>Register here!</h3>
            <form action="/signup" method="POST">
                <div class="col-3 input-effect">
                    <input type="text" id="ffname" name="first_name" class="effect" placeholder="" autocomplete="off">
                    <label>First Name</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input type="text" id="llname" name="last_name" class="effect" placeholder="" autocomplete="off">
                    <label>Last Name</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                        <input type="text" id="eemail" name="email" class="effect" placeholder="" autocomplete="off">
                        <label>Email</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                </div>
                <div class="col-3 input-effect">
                    <input type="password" id="pw" name="password" class="effect" placeholder="" autocomplete="off">
                    <label >Password</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input type="password" id="pwconfirm" name="confirmpassword" class="effect" placeholder="">
                    <label>Confirm password</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <h4>already a User? <a href="/login">login</a></h4>
        </div>
    </div>
    <div class="welcome" style="width:600px;padding: 5px 20px;height:610px ;">
        <center><img src="{{ url_for('static', filename='1.png') }}"></center>
    </div>
</div>
</body>
</html>